/* Empty. Add your own CSS if you like */

.pane {
  background: url('/img/hem-ion-blur.jpg');
  background-size: cover;
}
.has-header {
  top:34px;
}

.intro-brf {
  display:block;
  height: 300px;
  /*background: url('/img/hem-ion-blur.jpg');*/
  color: white;
  margin: 0px 10px;
  /*border:1px solid #fff;*/
  border-radius:5px;
  background: rgba(0,0,0,.5);
}

.list .item {
  display:inline-block;
  width:100%;
  margin:5px;
  white-space: ;
  overflow: visible;
}

.item p {
  overflow: visible;
  white-space: normal;
}

.col-50 {
  max-width: 40%;
}

.links-front a {
  text-decoration: none;
}

.intro-brf h3 {
  color: #fff;
}

.footer,
.header {
  color: white;
  background: #212A2E;
}

.boka {
  height: 35px;
  background: rgba(33, 42, 46,.9);
  color:#fff;
  margin-top:40px;



}

.boka .scroll {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left:10px;


}

.boka a:first-child {
  border-left: none;
}

.boka a {
    color:#fff;
    text-decoration: none;
    border-left: 1px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;


}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 26px;
    font-size: 27px;
  }



  .card {
    background: rgba(0,0,0,.5);
    /*border: 1px solid white;*/
    border-radius: 5px;
    text-align: center;
  }

  .card h3{
    color:#fff;
  }

  .item-text-wrap {
    background: transparent;
    color:white;
  }

  .back-button {
    color: white !important;
  }


  .col {
    text-align: center;

  }

  .lokal,
  .forad,
  .lagenhet,
  .garage {
    margin-bottom: 100px;
  }

  .content {
    color: #fff;
    background: rgba(0,0,0,.5);
    font-size: 18px;
    padding:30px;
    line-height: 26px;
  }
  .content h2 {
    color: #fff;


    padding: 10px;
    margin: 0 auto;
  }

  .infoblad {
    text-align: left;
  }

.info-img {
  max-width:70px;
  margin-right: 5px;
}

.info-img,
.info-info {
  display: inline-block;
}

.infoblad .item {
  padding: 5px 10px;
}
